@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Share Tech';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
  }

  html {
    font-family: 'Share Tech', sans-serif;
    @apply text-green-base;
  }

  body {
    background-color: #000000;
  }
}
